@import url("../styles/colors.css");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

label {
  margin-top: 0.9rem;
  color: var(--text-medium);
}

.box {
  display: flex;
  gap: 10rem;

  margin: 5rem 0;
}

.box img {
  height: 75vh;
}

.box .form {
  width: 100%;
  align-self: center;
}

.box .form h1 {
  color: var(--green-250);
  font-family: "Anton", sans-serif;
}

.btn {
  margin-top: 1rem;
  color: var(--gray-090);
  background: var(--green-750);
  padding: 0.5rem 3rem;

  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.dropdown-divider {
  margin: 1rem 0;
}

p,
a {
  font-size: 0.9rem;
}

p {
  color: var(--text-medium);
}

p a.anchor {
  color: var(--green-400);
}

p a.anchor:hover {
  color: var(--green-300);
  text-decoration: none;
}
