@import url("./colors.css");

.meus-enderecos {
    width: 55%;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-medium);
  width: 100%;

  border-bottom: 0.5px solid var(--gray-300);
}

.title i {
  font-size: 1.5rem;
}

.no-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;

    width: 45%;
    margin: 10rem auto;
    color: var(--text-medium);
}

.no-address i {
    font-size: 2rem;
}

.no-address a {
    color: var(--white);
    background: var(--green-750);
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
}

.no-address h4 {
    font-size: 1rem;
}

.meus-enderecos {
    max-height: 8vh;
}

.addresses aside {
    padding: 1rem;
    border-radius: 0.4rem;
    background: var(--green-750);

    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.field {
    display: flex;
    gap: 0.5rem;
}

.field .label {
    color: var(--white);
    font-size: 1rem;
}

.field p {
    color: var(--gray-200);
}

.edit-address i:hover {
    color: var(--gray-200);
}

.edit-address:hover {
    text-decoration: none;
}