@import url("../styles/colors.css");

body,
* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/*HEADER*/
header {
  padding: 1rem 0;
  background: var(--white);
  border-bottom: 1.8px solid var(--green-750);
}

header img {
  height: 4.5rem;
}

header nav {
  display: flex;
  gap: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--green-400);

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav a:hover {
  text-decoration: none;
    color: var(--green-350);
}

nav a i, span {
    font-size: 1.1rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*General Categories*/
section.general-categories {
  padding: 1rem 0;
  background: var(--green-750);
}

section.general-categories .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;

  gap: 2rem;
}

section.general-categories a {
  text-decoration: none;
  color: var(--white);
  align-self: center;
}

section.general-categories a:hover {
  text-decoration: underline;
}

footer {
  padding: 1rem;
  background: var(--green-750);
}

footer img {
  height: 5rem;
}

footer section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}